input[type=text], select, textarea {
  width: 32%; 
  padding: 1vw; 
  border: 0.1vw solid #ccc; 
  border-radius: 0.3vw;
  box-sizing: border-box; 
  margin-top: 1vw; 
  margin-bottom: 1.5vw; 
  font-size: 1.5vw;
  }
  
input[type=button] {
  background-color: #000000;
  color: white;
  padding: 1vw 4.8vw;
  border-color: #000000;
  border-radius: 0.5vw;
  cursor: pointer;
  margin: 0;
  position: relative;
  left: 50%;
  text-align: center;
  transform: translate(-54%);
  font-size: 1.5vw;
}
input[type=button]:hover {
  background-color: #ffffff;
  color: #000000;
  border: #000000 2px solid;
}

.container {
  padding: 1% 20% 3%;
  padding-bottom: 15vh;

}
  