/* Carousel*/
@keyframes carousel {
  0% {
      left: 0;
  }
  20% {
      left: 0;
  }
  25% {
      left: -100%;
  }
  45% {
      left: -100%;
  }
  50% {
      left: -200%;
  }
  70% {
      left: -200%;
  }
  75% {
      left: -300%;
  }
  95% {
      left: -300%;
  }
  100% {
      left: -400%;
  }
}

#carousel {
    max-width: 37%;
    position: relative;
    overflow: hidden;
    border-radius: 1vw ;
}

#carousel figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 10s carousel infinite;
}
#carousel figure img {
    float: left;
    width: 20%;
}


/* Slider*/
.slider_container{
    max-height: 50vh;
}

@keyframes slider {
    0% {
        left: 0;
    }
    4% {
        left: 0;
    }
    10% {
        left: -37.18%;
    }
    14% {
        left: -37.18%;
    }
    20% {
        left: -74.37%;
    }
    24% {
        left: -74.37%;
    }
    30% {
        left: -111.56%;
    }
    34% {
        left: -111.56%;
    }
    40% {
        left: -148.74%;
    }
    44% {
        left: -148.74%;
    }
    50% {
        left: -185.93%;
    }
    54% {
        left: -185.93%;
    }
    60% {
        left: -223.11%;
    }
    64% {
        left: -223.11%;
    }
    70% {
        left: -260.3%;
    }
    74% {
        left: -260.3%;
    }
    80% {
        left: -297.4%;
    }
    84% {
        left: -297.4%;
    }
    90% {
        left: -334.67%;
    }
    94% {
        left: -334.67%;
    }
    100% {
        left: -371.86%;
    }
}

.slider_container {
    margin-top: 4%;
    max-height: 100%;

}
#slider {
    overflow: hidden;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: -371.86%;
    animation: 30s slider infinite;    
}
#slider figure img {
    float: left;
    width: 6%;
    padding-right: .2%;
    overflow: hidden;
}
