@font-face {
  font-family: PoppinsBold;
  src: url(fonts/Poppins/Poppins-Bold.otf);
}
@font-face {
  font-family: PoppinsSemiBold;
  src: url(fonts/Poppins/Poppins-SemiBold.otf);
}
@font-face {
  font-family: PoppinsRegular;
  src: url(fonts/Poppins/Poppins-Regular.otf);
}
@font-face {
  font-family: PoppinsLight;
  src: url(fonts/Poppins/Poppins-Light.otf);
}
@font-face {
  font-family: PoppinsThin;
  src: url(fonts/Poppins/Poppins-Thin.otf);
}
@font-face {
  font-family: YellowGinger;
  src: url(fonts/Yellow\ Ginger.ttf);
}
html{
  scroll-behavior: smooth;
}
body{
  margin: 0;
  background-image: url(images/menu-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
a {
  width: 100%;
  color: none; 
  text-decoration: none; 
}
h2 {
  font-family: YellowGinger;   
  font-size: 70px;
  text-shadow: 4px 2px 7px rgba(96,57,19,0.6);
  color: #fff;
  margin: 0;
  padding: 0;
}
h3 {
  font-family: PoppinsLight;
  color: #ec6a2e;
  font-size: 30px;
  word-wrap: break-word;
  line-height: normal;
  text-shadow: 4px 2px 7px rgba(96,57,19,0.6);
}

/* MENU */
.title{
  text-align: center;
}
button h2 {
  font-family: PoppinsSemiBold, arial;
  color: #fff;
  padding-left: 10px;
  font-size: 30px;
}
.container h3 {
  text-shadow: none;
  
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5em;
    padding-top: 12%;
  }
  
.menu {
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

.menu-group-heading {
  margin: 0;
}

.menu-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5em;
  padding: 2.5em 1.0em;
}

.menu-item {
  display: flex;
}

.menu-item-image {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  object-fit: cover;
  margin-right: 1.5em;
}

.menu-item-text {
  flex-grow: 1;
}

.menu-item-heading {
  border-bottom: solid 2px black;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.menu-item-name {
  margin-right: 1.5em;
}

.menu-item-description {
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.6;
}

#noFood{
  text-align: center;
  display: none;
  color: #fff;
}
#nofood h3 {
  color: #fff;
}

@media screen and (min-width: 992px) {
  .menu {
    font-size: 16px;
  }

  .menu-group {
    grid-template-columns: repeat(2, 1fr);
  }

  .menu-item-image {
    width: 125px;
    height: 125px;
  }
}

  
/* Search Bar */

.button {
	display: inline-block;
	margin: 4px 2px;
	background-color: #ec6a2e;
	font-size: 14px;
	padding-left: 32px;
	padding-right: 32px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: white;
	text-decoration: none;
	cursor: pointer;
	user-select: none;
}

.button:hover {
	transition-duration: 0.4s;
	background-color: white;
	color: black;
}

.search-container {
	position: relative;
	display: inline-block;
	margin: 4px 2px;
	height: 50px;
	width: 50px;
	vertical-align: bottom;
}

.mglass {
	display: inline-block;
	pointer-events: none;
	transform: rotate(-45deg);
}

.searchbutton {
	position: absolute;
	font-size: 22px;
	width: 100%;
	margin: 0;
	padding: 0;
}

.search:focus + .searchbutton {
	transition-duration: 0.4s;
	background-color: #fff;
	color: black;
}

.search {
	position: absolute;
	left: 49px; 
	background-color: #fff;
	outline: none;
	border: none;
	padding: 0;
	width: 0;
	height: 100%;
	z-index: 10;
	transition-duration: 0.4s;
}
::placeholder { 
     color: #000;
     opacity: .3; 
   }

.search:focus {
	width: 363px; 
	padding: 0 16px 0 0;
}

.expandright {
	left: auto;
	right: 49px; 
}

.expandright:focus {
	padding: 0 0 0 16px;
}

/* Collapsing Div */
.collapsible {
  background-color: #832d06;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
  
.active, .collapsible:hover {
  background-color: #603913;
  transition-duration: 0.4s;
}
.active:hover {
  background-color: #832d06;
  transition-duration: 0.4s;
}

.content {
  background-color: #FFF7EB;
  max-height: none;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.collapsible:before {
  content: '\02795'; 
  font-size: 13px;
  float: right;
  margin-left: 5px;
}

.active:before {
  content: "\2796"; 
}
.collapsed {
  display: none;
  height: 0;
}