@media screen and (max-width: 460px) {
    .menu-item-description{
        font-size: 7px;
    }
    h2{
        font-size: 50px;
    }
    h3{
        font-size: 20px;
    }
    .search:focus {
        width: 260px;
        padding: 0 16px 0 0;
    }
    .menu-group-heading{
        font-size: 20px;
    }
    .menu-item-heading{
        font-size: 15px;
    }
  }

@media screen and (max-width: 300px) {

    .menu-item-heading{
        font-size: 7px;
    }
  }