body{
    background: #ABABAB;
    font-family: 'Scheherazade New', serif;
    background-image: url(images/menu-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
  
#main {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 10px 40px rgba(0,0,0,0.5);
}
  
@media (max-width: 1000px) {
    #main {
      max-width: 800px;
    }
}
  
@media (max-width: 800px) {
    #cover {
      flex-direction: column-reverse;
      max-height: 85vh;
    }
    #img-div {
      width: 100%;
      margin-bottom: 1.5em;
    }
    #img-caption {
      display: none;
    }
    
    #div-title {
      width: 100%;
      text-align: center;
    }
    .hr-1 {
      display: none;
    }
}
  
@media (max-width: 520px) {
    #info {
      flex-direction: column;
    }
    #body {
      margin: 0 !important;
    }
    #quote-box {
      margin: 1em 0 0 0;
      text-align: center;
    }
    .hr-2 {
      display: inline;
    }
}

#cover {
    padding-top: 10%;
    color: white;
    background: #EC6A2E;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 480px;
}
  
#cover #div-title {
    flex-basis: 360px;
}
  
#title {
    font-size: 3.5em;
    line-height: 1em;
}
  
#subtitle {
    margin-top: 1em;
    font-family: 'Merriweather', serif;
    font-size: 1.2em;
}
  
.hr-1 {
    margin: 1em 0;
}
  
.hr-2 {
    display: none;
}
  
.important-text {
    font-size: 1.5em;
}
  
#cover #img-div {
    flex-basis: 360px;
}
  
#img-div #image {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    margin: auto;
    display: block;
}
  
#img-caption {
    font-family: 'Merriweather', serif;
    font-size: 1em;
    text-align: center;
}
  
#info {
    background: white;
    display: flex; 
    padding: 2.5em;
    color: rgba(0,0,0,0.9)
}
  
#body {
    max-width: 480px;
    margin-right: 2.5em;
    margin-left: 0.5em;
}
  
.text {
    font-family: 'Roboto', sans-serif;
    padding: 0.5em 0;
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
}
  
#quote-box {
    padding: 0.5em 0;
    margin-right: 0.5em;
}

.quote {
    font-family: 'Merriweather', serif;
    font-size: 1.2em;
}
  
#links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.5em;
    background: #FF9505;
    color: white;
    text-align: center;
}
  
#links p {
    margin: 0 0 1.5em 0;
    font-family: 'Roboto', sans-serif;
}
  
#links a {
    font-family: 'Roboto', sans-serif;
    color: black;
    text-decoration: none;
    display: block;
    padding: 0.8em 1.6em;
    border-radius: 5px;
    background: white;
    border: 1px solid white;
}
  
#links i {
    margin-right: 5px;
}
  
#links a:hover {
    background: none;
    color: white;
}
  
#footer {
    background: #832d06;
    color: white;
    text-align: center;
    padding: 2em;
    font-family: 'Roboto', sans-serif;
  
}