@font-face {
    font-family: PoppinsSemiBold;
    src: url(fonts/Poppins/Poppins-SemiBold.otf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}


/* Socials */
.socials {
    position: fixed;
    float: left;
    top: 18%;
    left: -1%;
    background-color: rgb(255, 255, 255);
    z-index: 3;
    max-width: 80px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    border-radius: 1.2vw;
    box-shadow: 0px 1px 24px 2px rgba(0,0,0,0.48);
}

.socials img {
    max-width: 80%;
    margin: 10%;
    margin-left: 20%;
}

.socials img:hover {
    border-radius: 100%;
    box-shadow: 0px 1px 8px -1px rgba(0,0,0,0.48);
}

/* Title */

.title{
    padding-top: 8rem;
}
h1 {
    font-family: PoppinsSemiBold, arial;
    font-size: 80px;
    letter-spacing: 20px;
}

/* PhotoContainers */
.flex-container {
    place-items: center;
    display: grid;
    grid-template-columns: 1fr;
}
  
.container {
    margin-top: 80px;
    width: 610px;
    border: solid white 5px;
    border-radius: 30px;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
  
.container .thumbnail {
    display: flex;
    flex-wrap: wrap;
}
  
.container .thumbnail .thumb {
    height: 200px;
    width: 200px;
    transition: all 0.2s;
    object-fit: cover;
    cursor: pointer;
}
  
.container .thumbnail .thumb:hover {
    box-shadow: 3px 3px 20px;
    opacity: 0.8;
}
  
.desc {
    position: relative;
    width: 600px;
    height: 400px;
    overflow: hidden;
}
  
.desc:hover .judul {
    transform: translateY(80px);
}
  
.desc:hover .tittle {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.3) 70%, rgba(0, 0, 0, 0.8) 100%);
    opacity: 1;
}
  
.desc:hover .text {
    transform: translateY(-150px);
}
  
.desc .prev {
    object-fit: cover;
    width: 600px;
    height: 400px;
}
  
.desc .tittle {
    margin: auto;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.3s ease;
    opacity: 0;
    display: flex;
    flex-direction: column;
}
  
.desc .tittle .judul {
    color: white;
    padding: 20px;
    margin-top: -40px;
    transition: all 0.3s ease;
}
  
.desc .tittle .text {
    color: white;
    margin-top: 350px;
    padding: 20px;
    transition: all 0.35s ease 0.4s;
}
  
@keyframes fade {
    to {
        opacity: 1;
    }
}
  
.effect {
    opacity: 0;
    animation: fade 0.2s forwards;
}
  
.active {
    opacity: 0.5;
}
  